<nz-breadcrumb class='breadcrumbstyle'>
        <nz-breadcrumb-item><a [routerLink]="['/home']">主页</a></nz-breadcrumb-item>
        <nz-breadcrumb-item><a [routerLink]="['/home/part']">配件列表</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>{{pagename}}配件</nz-breadcrumb-item>
</nz-breadcrumb>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="3" [nzRequired]='parmlen==0'  nzFor="img">图片</nz-form-label>
        <nz-form-control [nzSpan]="8"> 
        	<div class="file" *ngIf="!img">
        		<div>
        			<i class="anticon anticon-plus"></i>
        			<div>选择图片</div>
        		</div>
			<input type="file" ng2FileSelect  [uploader]="uploader"   (change)="uploadFileZQ($event)"/>
        	</div>
        	<img class='imglist' id="vi" [src]="img" *ngIf="img"/>
            <button type="button"  class="upbtn" (click)="uploadFile()" *ngIf="picturesc">上传</button>
            <button type="button"  class="upbtn" (click)="changeFile()" *ngIf="img">换图片</button>
            <div>
            </div>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
      	<nz-form-label [nzSpan]="3" nzRequired nzFor="title">配件名称</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <input type="text" nz-input formControlName="title" [(ngModel)]="title" placeholder="请输入配件名称">
          <nz-form-explain *ngIf="validateForm.get('title').dirty && validateForm.get('title').errors">配件名称不能为空！</nz-form-explain>
        </nz-form-control> 
         <nz-form-label [nzSpan]="4" nzRequired nzFor="stock">库存数量</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <input type="text" nz-input formControlName="stock" [(ngModel)]="stock" placeholder="请输入库存数量">
          <nz-form-explain *ngIf="validateForm.get('stock').dirty && validateForm.get('stock').errors">库存数量不能为空！</nz-form-explain>
        </nz-form-control>    
      </nz-form-item>
      
      
      <nz-form-item>
         <nz-form-label [nzSpan]="3" nzRequired nzFor="classifyid">分类</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <nz-select  formControlName="classifyid" [(ngModel)]="classifyid" nzPlaceHolder="请选择分类">
		    <nz-option *ngFor="let item of classlist"  nzValue="{{item.id}}" nzLabel="{{item.title}}"></nz-option>
		</nz-select>
          <nz-form-explain *ngIf="validateForm.get('classifyid').dirty && validateForm.get('classifyid').errors">分类不能为空！</nz-form-explain>
        </nz-form-control>
        <nz-form-label [nzSpan]="4" nzRequired  nzFor="explain">质保时间</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <input type="text" nz-input formControlName="protect" [(ngModel)]="protect" placeholder="请输入质保时间">
          <nz-form-explain *ngIf="validateForm.get('protect').dirty && validateForm.get('protect').errors">质保时间不能为空！</nz-form-explain>
        </nz-form-control>       
        
      </nz-form-item>
      
      
      <nz-form-item>
      	<nz-form-label [nzSpan]="3" nzRequired  nzFor="puprice">采购价</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <input type="text" nz-input formControlName="puprice" [(ngModel)]="puprice" placeholder="请输入采购价">
          <nz-form-explain *ngIf="validateForm.get('puprice').dirty && validateForm.get('puprice').errors">采购价不能为空！</nz-form-explain>
        </nz-form-control>
      <nz-form-label [nzSpan]="4" nzRequired  nzFor="orprice">订单价</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <input type="text" nz-input formControlName="orprice" [(ngModel)]="orprice" placeholder="请输入订单价">
          <nz-form-explain *ngIf="validateForm.get('orprice').dirty && validateForm.get('orprice').errors">订单价不能为空！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
       <nz-form-item>
       	<nz-form-label [nzSpan]="3" nzRequired nzFor="diprice">分销价</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <input type="text" nz-input formControlName="diprice" [(ngModel)]="diprice" placeholder="请输入分销价">
          <nz-form-explain *ngIf="validateForm.get('diprice').dirty && validateForm.get('diprice').errors">分销价不能为空！</nz-form-explain>
        </nz-form-control> 
        <nz-form-label [nzSpan]="4" nzRequired nzFor="num">排序</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <input type="text" nz-input formControlName="num" [(ngModel)]="num" placeholder="请输入排序">
          <nz-form-explain *ngIf="validateForm.get('num').dirty && validateForm.get('num').errors">排序不能为空！</nz-form-explain>
        </nz-form-control> 
        
      </nz-form-item>
      <nz-form-item>
      	<nz-form-label [nzSpan]="3" nzRequired nzFor="status">状态</nz-form-label>
        <nz-form-control [nzSpan]="8">
        <nz-select  formControlName="status" [(ngModel)]="status" nzPlaceHolder="请选择状态">
		    <nz-option  nzValue="1" nzLabel="启用"></nz-option>
		    <nz-option  nzValue="2" nzLabel="禁用"></nz-option>
		</nz-select>
		<nz-form-explain *ngIf="validateForm.get('status').dirty && validateForm.get('status').errors">状态不能为空！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSpan]="8" [nzOffset]="3">
          <button nz-button nzType="primary">确认</button>
        </nz-form-control>
      </nz-form-item>
</form>
